extends layout

block content
  
  script. 
    var is_admin = true
  .container
    if (user)
      h1.mt-3.mb-4 You are currently logged in as #{user}
      table.table
        thead
          tr
            th Act 
            th NFT 
            th Email 
            th Status 
            th Sells 
            th Booking time
        tbody
          each d in data
            tr(id=d._id)
              td
                button.btn.btn-danger.admindelete(type='button' data-id=d._id data-buy_id=d.buy_id)
                  span.btn-close
              td=d.buy_id 
              td
                a(href="mailto:"+d.email)=d.email 
              td
                - var date = new Date();
                - var date2 = new Date(d.createdAt);
                - date2.setTime(date2.getTime() + (config.delay * 60 * 1000));
                if date2.getTime() > date.getTime()
                  !="BOOKED"
                else if d.status == "comprato"
                  !="SOLD"
                else if d.status == "prenotato"
                  !="EXPIRED"
              td
                if d.status == "comprato" || (d.status == "prenotato" && buyed.indexOf(d.buy_id)===-1)
                  .form-check
                    input.form-check-input.adminstatus(data-id=d._id data-time=d.createdAt type="checkbox" checked=(d.status == "comprato" ? "" : undefined) data-buy_id=d.buy_id)
                    label.form-check-label(for=d._id)=" BUYED"
                else 
                  !="BUYED FROM SOMEONE ELSE"
              td=d.createdAt
    else
      p You are currently not logged in. Plaese login or register...
