extends layout

block content
  script. 
    var is_admin = false
  .mycontainer
    table.shape#shape
      tbody
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft35
            - var tmp = "35"
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-
          td#nft34
            - var tmp='34'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-34
          td#nft33
            - var tmp='33'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-33
          td  
          td#nft27
            - var tmp='27'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-27
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft36(rowspan="2")
            - var tmp='36'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-36
          td  
          td#nft47
            - var tmp='47'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-47
          td#nft46
            - var tmp='46'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-46
          td#nft45
            - var tmp='45'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-45
          td#nft44
            - var tmp='44'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-44
          td#nft43
            - var tmp='43'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-43
          td  
          td#nft28
            - var tmp='28'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-28
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft37
            - var tmp='37'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-37
          td#nft50
            - var tmp='50'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-50
          td#nft49
            - var tmp='49'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-49
          td  
          td  
          td#nft48
            - var tmp='48'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-48
          td  
          td#nft29
            - var tmp='29'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-29
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft39
            - var tmp='39'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-39
          td  
          td#nft38
            - var tmp='38'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-38
          td#nft199(rowspan="2")
            - var tmp='199'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-199
          td#nft55
            - var tmp='55'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-55
          td#nft54
            - var tmp='54'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-54
          td#nft53
            - var tmp='53'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-53
          td#nft52
            - var tmp='52'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-52
          td#nft51
            - var tmp='51'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-51
          td#nft26
            - var tmp='26'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-26
          td#nft30
            - var tmp='30'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-30
          td#nft23
            - var tmp='23'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-23
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft87
            - var tmp='87'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-87
          td#nft42
            - var tmp='42'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-42
          td#nft41
            - var tmp='41'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-41
          td#nft40
            - var tmp='40'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-40
          td  
          td#nft60
            - var tmp='60'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-60
          td#nft59
            - var tmp='59'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-59
          td#nft58
            - var tmp='58'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-58
          td#nft57
            - var tmp='57'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-57
          td#nft56
            - var tmp='56'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-56
          td  
          td#nft31
            - var tmp='31'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-31
          td#nft24
            - var tmp='24'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-24
          td#nft234
            - var tmp='234'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-234
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft103
            - var tmp='103'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-103
          td#nft102
            - var tmp='102'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-102
          td#nft101
            - var tmp='101'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-101
          td#nft100
            - var tmp='100'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-100
          td  
          td#nft99
            - var tmp='99'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-99
          td#nft98
            - var tmp='98'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-98
          td#nft97
            - var tmp='97'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-97
          td#nft96
            - var tmp='96'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-96
          td#nft95
            - var tmp='95'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-95
          td#nft94
            - var tmp='94'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-94
          td#nft25
            - var tmp='25'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-25
          td#nft32
            - var tmp='32'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-32
          td#nft16(rowspan="2")
            - var tmp='16'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-16
          td#nft233
            - var tmp='233'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-233
          td#nft235
            - var tmp='235'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-235
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft111
            - var tmp='111'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-111
          td#nft110
            - var tmp='110'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-110
          td#nft109
            - var tmp='109'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-109
          td#nft108
            - var tmp='108'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-108
          td  
          td#nft107
            - var tmp='107'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-107
          td#nft106
            - var tmp='106'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-106
          td  
          td#nft105
            - var tmp='105'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-105
          td#nft104
            - var tmp='104'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-104
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td#nft192
            - var tmp='192'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-192
          td#nft191
            - var tmp='191'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-191
          td#nft183
            - var tmp='183'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-183
          td#nft182
            - var tmp='182'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-182
          td#nft177
            - var tmp='177'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-177
          td#nft176
            - var tmp='176'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-176
          td  
          td  
          td  
          td#nft171
            - var tmp='171'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-171
          td  
          td#nft169
            - var tmp='169'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-169
          td#nft166
            - var tmp='166'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-166
          td  
          td#nft17(colspan='2')
            - var tmp='17'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-17
          td#nft232
            - var tmp='232'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-232
          td  
          td#nft22
            - var tmp='22'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-22
          td#nft21
            - var tmp='21'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-21
          td#nft20
            - var tmp='20'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-20
          td#nft19
            - var tmp='19'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-19
          td#nft18
            - var tmp='18'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-18
          td  
          td  
        tr
          td  
          td  
          td  
          td#nft196
            - var tmp='196'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-196
          td#nft193
            - var tmp='193'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-193
          td#nft185
            - var tmp='185'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-185
          td#nft184
            - var tmp='184'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-184
          td#nft179
            - var tmp='179'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-179
          td#nft178
            - var tmp='178'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-178
          td#nft175
            - var tmp='175'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-175
          td#nft174
            - var tmp='174'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-174
          td#nft173
            - var tmp='173'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-173
          td#nft172
            - var tmp='172'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-172
          td  
          td#nft170
            - var tmp='170'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-170
          td#nft168
            - var tmp='168'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-168
          td#nft167
            - var tmp='167'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-167
          td#nft89(rowspan="3")
            - var tmp='89'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-89
          td#nft66
            - var tmp='66'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-66
          td#nft65
            - var tmp='65'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-65
          td  
          td  
          td#nft64
            - var tmp='64'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-64
          td  
          td  
          td#nft201
            - var tmp='201'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-201
          td  
          td  
        tr
          td#nft190(rowspan='3')
            - var tmp='190'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-190
          td#nft195(rowspan="2")
            - var tmp='195'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-195
          td#nft197
            - var tmp='197'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-197
          td#nft194
            - var tmp='194'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-194
          td  
          td  
          td  
          td#nft180
            - var tmp='180'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-180
          td#nft163
            - var tmp='163'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-163
          td#nft162
            - var tmp='162'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-162
          td#nft160
            - var tmp='160'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-160
          td  
          td#nft157
            - var tmp='157'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-157
          td  
          td#nft156
            - var tmp='156'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-156
          td#nft155
            - var tmp='155'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-155
          td#nft112
            - var tmp='112'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-112
          td  
          td#nft63
            - var tmp='63'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-63
          td#nft62
            - var tmp='62'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-62
          td  
          td#nft61
            - var tmp='61'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-61
          td  
          td  
          td#nft200
            - var tmp='200'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-200
          td  
          td  
        tr
          td  
          td#nft188
            - var tmp='188'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-188
          td#nft187
            - var tmp='187'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-187
          td#nft186
            - var tmp='186'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-186
          td  
          td#nft181
            - var tmp='181'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-181
          td#nft165
            - var tmp='165'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-165
          td#nft164
            - var tmp='164'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-164
          td#nft161
            - var tmp='161'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-161
          td  
          td#nft159
            - var tmp='159'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-159
          td#nft158
            - var tmp='158'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-158
          td  
          td  
          td#nft231(rowspan="3")
            - var tmp='231'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-231
          td#nft4(rowspan="2")
            - var tmp='4'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-4
          td#nft218
            - var tmp='218'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-218
          td#nft219
            - var tmp='219'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-219
          td#nft13(colspan="2")
            - var tmp='13'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-13
          td#nft228
            - var tmp='228'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-228
          td#nft229
            - var tmp='229'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-229
          td#nft230
            - var tmp='230'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-230
          td#nft14(colspan="2")
            - var tmp='14'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-14
        tr
          td#nft189(rowspan="3")
            - var tmp='189'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-189
          td#nft154
            - var tmp='154'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-154
          td#nft153
            - var tmp='153'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-153
          td#nft150
            - var tmp='150'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-150
          td  
          td#nft147
            - var tmp='147'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-147
          td#nft146
            - var tmp='146'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-146
          td  
          td  
          td#nft141
            - var tmp='141'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-141
          td  
          td#nft138
            - var tmp='138'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-138
          td#nft137
            - var tmp='137'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-137
          td  
          td  
          td#nft90
            - var tmp='90'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-90
          td#nft217
            - var tmp='217'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-217
          td  
          td  
          td#nft253
            - var tmp='253'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-253
          td#nft225
            - var tmp='225'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-225
          td#nft227
            - var tmp='227'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-227
          td#nft15
            - var tmp='15'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-15
          td#nft202
            - var tmp='202'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-202
          td#nft203
            - var tmp='203'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-203
        tr
          td  
          td#nft152
            - var tmp='152'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-152
          td#nft151
            - var tmp='151'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-151
          td  
          td  
          td#nft149
            - var tmp='149'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-149
          td#nft148
            - var tmp='148'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-148
          td#nft145
            - var tmp='145'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-145
          td#nft144
            - var tmp='144'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-144
          td#nft143
            - var tmp='143'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-143
          td#nft142
            - var tmp='142'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-142
          td#nft140
            - var tmp='140'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-140
          td#nft139
            - var tmp='139'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-139
          td  
          td  
          td#nft91
            - var tmp='91'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-91
          td  
          td#nft216
            - var tmp='216'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-216
          td#nft220(rowspan="3")
            - var tmp='220'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-220
          td#nft223
            - var tmp='223'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-223
          td#nft224
            - var tmp='224'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-224
          td#nft225
            - var tmp='225'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-225
          td  
          td#nft15
            - var tmp='15'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-15
          td#nft204
            - var tmp='204'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-204
          td  
        tr
          td  
          td#nft136
            - var tmp='136'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-136
          td#nft135
            - var tmp='135'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-135
          td#nft134
            - var tmp='134'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-134
          td#nft133
            - var tmp='133'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-133
          td#nft132
            - var tmp='132'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-132
          td#nft131
            - var tmp='131'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-131
          td  
          td  
          td#nft130
            - var tmp='130'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-130
          td#nft129
            - var tmp='129'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-129
          td#nft128
            - var tmp='128'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-128
          td#nft127
            - var tmp='127'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-127
          td#nft126
            - var tmp='126'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-126
          td#nft125
            - var tmp='125'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-125
          td#nft92
            - var tmp='92'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-92
          td#nft213
            - var tmp='213'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-213
          td  
          td#nft215
            - var tmp='215'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-215
          td#nft252
            - var tmp='252'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-252
          td#nft226(colspan='2' rowspan="2")
            - var tmp='226'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-226
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td#nft88
            - var tmp='88'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-88
          td#nft88
            - var tmp='88'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-88
          td#nft124
            - var tmp='124'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-124
          td#nft123
            - var tmp='123'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-123
          td#nft122
            - var tmp='122'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-122
          td#nft121
            - var tmp='121'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-121
          td#nft120
            - var tmp='120'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-120
          td#nft119
            - var tmp='119'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-119
          td#nft118
            - var tmp='118'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-118
          td#nft117
            - var tmp='117'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-117
          td#nft116
            - var tmp='116'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-116
          td#nft115
            - var tmp='115'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-115
          td#nft114
            - var tmp='114'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-114
          td#nft113
            - var tmp='113'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-113
          td#nft93
            - var tmp='93'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-93
          td#nft214
            - var tmp='214'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-214
          td  
          td  
          td#nft251
            - var tmp='251'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-251
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td#nft76
            - var tmp='76'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-76
          td#nft75
            - var tmp='75'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-75
          td#nft74
            - var tmp='74'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-74
          td#nft70
            - var tmp='70'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-70
          td  
          td#nft198(rowspan="2")
            - var tmp='198'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-198
          td#nft86
            - var tmp='86'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-86
          td  
          td#nft85
            - var tmp='85'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-85
          td  
          td#nft205
            - var tmp='205'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-205
          td#nft206
            - var tmp='206'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-206
          td#nft207
            - var tmp='207'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-207
          td#nft208
            - var tmp='208'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-208
          td  
          td#nft221
            - var tmp='221'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-221
          td#nft222
            - var tmp='222'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-222
          td#nft1
            - var tmp='1'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-1
          td#nft2
            - var tmp='2'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-2
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft77
            - var tmp='77'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-77
          td#nft71
            - var tmp='71'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-71
          td  
          td#nft84
            - var tmp='84'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-84
          td#nft83
            - var tmp='83'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-83
          td#nft82
            - var tmp='82'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-82
          td#nft81
            - var tmp='81'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-81
          td#nft209
            - var tmp='209'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-209
          td#nft210
            - var tmp='210'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-210
          td#nft211
            - var tmp='211'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-211
          td#nft212
            - var tmp='212'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-212
          td#nft247
            - var tmp='247'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-247
          td#nft5(rowspan="3")
            - var tmp='5'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-5
          td  
          td#nft3
            - var tmp='3'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-3
          td#nft254
            - var tmp='254'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-254
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft78
            - var tmp='78'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-78
          td#nft72
            - var tmp='72'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-72
          td  
          td  
          td#nft80(rowspan="3")
            - var tmp='80'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-80
          td  
          td#nft9
            - var tmp='9'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-9
          td  
          td  
          td  
          td#nft244
            - var tmp='244'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-244
          td#nft245
            - var tmp='245'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-245
          td#nft248
            - var tmp='248'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-248
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft79
            - var tmp='79'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-79
          td#nft73
            - var tmp='73'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-73
          td#nft69
            - var tmp='69'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-69
          td#nft68
            - var tmp='68'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-68
          td  
          td#nft10
            - var tmp='10'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-10
          td#nft6
            - var tmp='6'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-6
          td  
          td  
          td  
          td#nft246
            - var tmp='246'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-246
          td#nft249
            - var tmp='249'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-249
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft67
            - var tmp='67'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-67
          td  
          td  
          td#nft11(colspan="2")
            - var tmp='11'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-11
          td#nft7
            - var tmp='7'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-7
          td#nft240
            - var tmp='240'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-240
          td  
          td  
          td  
          td#nft250
            - var tmp='250'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-250
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft12(colspan="2")
            - var tmp='12'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-12
          td#nft8
            - var tmp='8'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-8
          td#nft243
            - var tmp='243'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-243
          td#nft241
            - var tmp='241'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-241
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft236
            - var tmp='236'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-236
          td#nft237
            - var tmp='237'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-237
          td  
          td  
          td#nft242
            - var tmp='242'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-242
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
        tr
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td#nft238
            - var tmp='238'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-238
          td#nft239
            - var tmp='239'
            if data[tmp] === "prenotato" 
              .prenotato=tmp
            else if data[tmp] === "comprato" 
              .comprato=tmp
            else
              a.buttonfull(href='#' data-id=tmp)=tmp
            //-239
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
          td  
